.flex {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .img-box {
    height: 200px;
    overflow: hidden;
  }
  img {
    height: 300px;
    width: 300px;
  }

  pre {
    color:green;
    font-family: sans-serif;
  }

h1 {
  color:#F17525;
  font-weight: bold;
  font-family: sans-serif;

}

h2 {
  color:#0d0d0d;


}

