  
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img  src="assets/images/Logo%20APPET.jpeg" />
    <h2>Servicios para todo tipo de mascotas</h2>
  </ion-slide>
  <ion-slide>
    <img width="1950" height="1300" src="assets/images/slide2.jpg" />
    <h2>Se parte de nuestra familia.</h2>
  </ion-slide>
  <ion-slide>
    <h2>Veterinaria</h2>
    <img width="1600" height="900" src="assets/images/slide3.jpg" />
  </ion-slide>
  <ion-slide>
    <h2>Peluquería</h2>
    <img width="600" height="600" src="assets/images/slide4.jpg" />
  </ion-slide>
  <ion-slide>
    <h2>Hotel</h2>
    <img width="793" height="491" src="assets/images/slide5.jpg" />
  </ion-slide>
  <ion-slide>
    <h2>Tienda</h2>
    <img width="1800" height="1075" src="assets/images/slide6.jpg" />
  </ion-slide>
  <ion-slide>
    <h2>Redes Sociales</h2>
<br>

    <ion-button>
      <ion-icon   slot="icon-only" name="logo-facebook"></ion-icon>
        <ion-button href="https://www.facebook.com/APPET-111656700359082"> Appet en Facebook</ion-button>
    </ion-button>

    <br>
      <br>

    <ion-button>
      <ion-icon color="dark" slot="icon-only"  name="logo-instagram"></ion-icon>
      <ion-button href="http://instagram.com"> Appet en Instagram</ion-button>
    </ion-button>
    <br>
      <br>
    <ion-button>
      <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
      <ion-button href="http://twitter.com"> Appet en Twitter</ion-button>
    </ion-button>
  </ion-slide>


</ion-slides>