ion-slide {
    padding: 160px 20px 160px 20px;
    display: block;
    img {
      width: 550px;
    }
  
    h2 {
      font-size: 36px;
      font-family: "Bauhaus 93", cursive;
    }

  ion-button{
    width: 300px;
    height: 100px;

  }
  ion-icon{
    width: 150px;
    height: 50px;
  }
  a{
    color: snow;
  }
}
