<ion-tabs >
  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="articulos">
      <ion-icon name="earth-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chatgeneral">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="detallearticulo">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>

 
    </ion-tab-button>

    <ion-tab-button tab="nuevoarticulo">

      <ion-icon name="arrow-up-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>