.item ion-thumbnail {
    min-width: 7rem;    
    min-height: 7rem;
    img {
        max-width: 7rem;    
        min-width: 7rem;
    }
}

h1 {
    color:#F17525;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
}

h3 {
    color: green;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    font-family: Arial;
    text-transform: uppercase;
}